@import url("styles/header.css");

#root {
  --cor-de-fundo: #73e4abd7;
  --branco: #FFFFFF;
  --laranja: #ffdd1e;
  --azul-degrade: linear-gradient(97.54deg, #55acee 35.49%, #326589 165.37%);
}

body {
  background-color: var(--cor-de-funfo);
}

.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  display: inline-block;
  }
